.tree > li{
	list-style-type:none;
}
.tree > li:not(:last-child){
	background:url('line_conn.gif') 0 0 repeat-y;
}

.tree{
	padding-left:24px;
}
.nmtxt{
	margin:0 0 1px 0;
}
.tb{
	display:inline-block;
	background:url('zTreeStandard.gif');
	height:16px;
	width:15px;
}
.clo{
	background-position: -74px -36px;
}
.ope{
	background-position:-92px -18px;
}
.tmg{
	background-position:-56px -18px;
}
.add{
	background-position:-145px 0;
}
.del{
	background-position:-111px 33px;
}
.sel{
	background-position:-13px 2px;
}
.unsel{
	background-position:1px 2px;
}
.ed{
	background-position:-111px 49px;
}