.list li,.tree li{
	list-style-type:none;
}
.list{
	background:url('line_conn.gif') 0 0 repeat-y;
	padding-left:32px;
	display:table;
}
.nmtxt{
	margin:0 0 1px 0;
}
.tb{
	display:inline-block;
	background:url('zTreeStandard.gif');
	height:16px;
	width:16px;
}
.clo{
	background-position:-92px -18px;
}
.ope{
	background-position: -74px -36px;
}
.tmg{
	background-position:-56px -18px;
}